body {
	width: 100%;
}

#navBody {
	padding: 0;
	margin: 0;
}

.container-fluid {
	background-color: #007bff;
}

ul li {
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	justify-content: center;
}

#logoImg {
	width: 50px;
}

#headerImg {
	height: 50px;
}